*{
    margin:0;
    padding:0;
}

@media screen and (min-width:1900px) {
    :root {
        --m-1: 30px 150px;
        --i-s: 0 60px;
        --display: flex;
    }
    h1 {
        font-size:30px;
    }
    h5 {
        font-size:20px;
    }
    p.sub_content {
        font-size: 16px;
        text-align: left;
        color: var(--sub_content);
        margin-top:20px;
    }
    input.header__search_input {
        width: 646px;
    }
    div.header__logo {
        order:1;
    }
    div.header__search {
        order:2;
    }
    div.header__action {
        order:3;
    }
    .p-m {
        margin-top:60px;
    }
    .c-m {
        margin: 60px auto 0 auto;
    }
    div.main__block_menu_select {
        display: flex;
        justify-content: center;
    }
    div.main__block_menu_select_block {
        width: 700px;
        margin:0 60px;
        padding:30px 26px 0 26px;
    }
    div.main__block_interface_menu {
        width: 1300px;
    }
}
@media screen and (min-width:1161px) and (max-width:1899px) {
    :root {
        --m-1: 30px 50px;
        --i-s: 0 60px;
        --display: flex;
    }
    h1 {
        font-size:30px;
    }
    h2 {
        font-size:26px;
    }
    h5 {
        font-size:20px;
    }
    p.sub_content {
        font-size: 16px;
        text-align: left;
        color: var(--sub_content);
        margin-top:20px;
    }
    input.header__search_input {
        width: 380px;
    }
    div.header__logo {
        order:1;
    }
    div.header__search {
        order:2;
    }
    div.header__action {
        order:3;
    }
    .p-m {
        margin-top:60px;
    }
    .c-m {
        margin: 60px auto 0 auto;
    }
    div.main__block_menu_select {
        display: flex;
        justify-content: center;
    }
    div.main__block_menu_select_block {
        width: 600px;
        margin:0 30px;
        padding:30px 26px 0 26px;
    }
    div.main__block_interface_menu {
        width: 933px;
    }
}
@media (min-width:601px) and (max-width:1160px) {
    :root {
        --m-1: 30px 32px;
        --i-s: 0 48px;
        --display: flex;
    }
    h1 {
        font-size:24px;
    }
    h5 {
        font-size:20px;
    }
    p.sub_content {
        font-size: 14px;
        text-align: left;
        color: var(--sub_content);
        margin-top:20px;
    }
    header {
        grid-template-columns: 50% 50%;
        flex-wrap: wrap;
    }
    input.header__search_input {
        width: 100%;
    }
    div.header__logo {
        width:50%;
    }
    div.header__search {
        padding-top:30px;
        width: 100%;
    }
    div.header__action {
        width: 50%;
        justify-content: flex-end;
    }
    .p-m {
        margin-top:30px;
    }
    .c-m {
        margin: 30px auto 0 auto;
    }
    div.main__block_menu_select {
        display: grid;
        grid-template-columns: 50% 50%;
        flex-wrap: wrap;
    }
    div.main__block_menu_select_block {
        width: 80%;
        margin:15px;
        padding:16px 16px 0 16px;
    }
    div.main__block_interface_menu {
        width: 100%;
    }
}
@media (min-width:1px) and (max-width:600px) {
    :root {
        --m-1: 30px 16px;
        --i-s: 0 48px;
        --display: flex;
    }
    h1 {
        font-size:24px;
        line-height: 36px;
    }
    h5 {
        font-size:20px;
    }
    p.sub_content {
        font-size: 14px;
        text-align: left;
        color: var(--sub_content);
        margin-top:20px;
    }
    header {
        grid-template-columns: 50% 50%;
        flex-wrap: wrap;
    }
    input.header__search_input {
        width: 100%;
    }
    input.header__search_input:focus {
        border-radius: 14px;
    }
    input.header__search_input:focus+div.header__search_menu {
        display: none;
    }
    div.header__logo {
        width:50%;
    }
    div.header__search {
        padding-top:30px;
        width: 100%;
    }

    div.header__action {
        width: 50%;
        justify-content: flex-end;
    }
    span.header__search_menu_text, div#search_top {
        display: none;
    }
    div.main__block_menu_select_block {
        width: 100%;
        padding:16px 0 0 16px;
        margin-bottom:15px;
    }
    .p-m {
        margin-top:30px;
    }
    .c-m {
        margin: 30px auto 0 auto;
    }
    div.main__block_menu_select {
        display: grid;
        grid-template-columns: 95%;
    }
    div.main__block_interface_menu {
        width: 100%;
    }
}

:root {
    --search-placeholder-color:#AFAFAF;
    --background-color:white;
    --border-color: #F0F0F0;
    --font-color:black;
    --brand-color:#6C5DD2;
    --sub_content: #aaa;
    --block_back_color: #FBFBFB;
    --green_back: #34C759;
    --purple_back: #AF52DE;
    --blue_back: #007AFF;
    --input_back:#F4F4F5;
    --input_back_text: #626266;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display:flex;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    background-color: white;
}
input,button,input:focus,textarea,textarea:focus {
    background-color: transparent;
    border:0 none;
    outline:none;
    border-radius:0;
}

a {
    text-decoration: none;
    display: block;
    color:black;
}

b.b-color {
    color:var(--brand-color);
    cursor:pointer;
}


header {
    padding:var(--m-1);
    background-color: var(--background-color);
    display: var(--display);
    border-bottom:1px solid var(--border-color);
}


div.header__logo {
    display: flex;
    align-items: center;
}

div.header__logo_pic {
    position: relative;
    width: 150px;
    height: 30px;
}

img.header__logo_img {
    position: absolute;
    width: auto;
    height: 30px;
    cursor: pointer;
}

div.header__search_menu_pic {
    position: relative;
    width: 22px;
    height: 22px;
}

img.header__search_menu_img {
    position: absolute;
    width:auto;
    height:22px;
}

div.header__search {
    margin: 0 auto;
    display: flex;
}

div.header__search_menu {
    order:1;
    display: flex;
    align-items: center;
    padding:0 16px;
    height:50px;
    background-color: var(--background-color);
    border-radius: 14px;
    border:1px solid var(--border-color);
    cursor: pointer;
    margin-right:16px;
}
span.header__search_menu_text {
    font-size:16px;
    font-weight: 600;
    color: var(--brand-color);
    margin: 0 16px 0 16px;
}
input.header__search_input {
    order:2;
    padding:var(--i-s);
    height:50px;
    font-size:16px;
    /* background-color: var(--border-color); */
    border:1px solid var(--border-color);
    border-radius: 14px;
    color:black;
    background: url(img/search.svg) no-repeat scroll 12px 12px;
}
input.header__search_input::placeholder {
    color: var(--search-placeholder-color);
}
button.header__search_button {
    order:3;
    display: flex;
    align-items: center;
    padding:0 17px;
    height:52px;
    background-color: var(--background-color);
    border-radius: 0 14px 14px 0;
    border:1px solid var(--border-color);
    cursor:pointer;
}
div.header__action {
    display:flex;
}
img.header__action_avatar {   
    width: 50px;
    height: 50px;
    border-radius: 14px;
    border:1px solid var(--border-color);
    cursor:pointer;
    background-color: var(--border-color);
}
div.header__action_block {
    width:85px;
    height:50px;
    background-color: var(--border-color);
    margin-left:16px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
span.header__action_block_text {
    font-weight: 700;
}

/* Main */

div.main__nav {
    padding:var(--m-1);
    border-bottom: 1px solid var(--border-color);
}
div.main__block {
    padding:var(--m-1);
}
div.main__block_menu_select_block {
    height: 304px;
    background-color: var(--block_back_color);
    border-radius: 14px;
    cursor: pointer;
    border:1px solid transparent;
}
div.green_back:hover {
    background-color: white;
    border-radius: 14px;
    border:1px solid var(--green_back);
}
div.purple_back:hover {
    background-color: white;
    border-radius: 14px;
    border:1px solid var(--purple_back);
}
div.blue_back:hover {
    background-color: white;
    border-radius: 14px;
    border:1px solid var(--blue_back);
}
.green_temp {
    background-color: var(--green_back);
}
.purple_temp {
    background-color: var(--purple_back);
}
.blue_temp {
    background-color: var(--blue_back);
}
.green_border {
    border:1px solid var(--green_back);
}
.purple_border {
    border:1px solid var(--purple_back);
}
.blue_border {
    border:1px solid var(--blue_back);
}
div.main__block_menu_select_block_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width:46px;
    height:46px;
    border-radius: 100%;
}
img.main__block_menu_select_block_icon_img {
    width:30px;
    height:30px;
}
div.main__block_menu_select_main {
    margin-top:30px;
}
button.main__block_menu_select_main_button {
    border-radius: 21px;
    font-size:14px;
    font-weight: 700;
    width: 124px;
    height: 42px;
    cursor: pointer;
    color:black;
}
p.main__block_menu_select_main_p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    height:56px;
}
div.main__block_interface_menu {
    align-items: center;
    height: auto;
    border: 1px solid var(--border-color);
    border-radius: 14px;
    padding: 40px 0;
}
div.main__block_interface_menu_c {
    text-align: center;
    margin: 0 auto 40px auto;
}

img.main__block_interface_menu_logo_img {
    width: 135px;
    height: 135px;
    border-radius: 100%;
    object-fit: cover;
    border:1px solid var(--border-color);
}
img.main__block_interface_menu_logo_icon_img {
    position: absolute;
    width: 46px;
    height:46px;
    margin:44px 44px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 20px black);
}
button.main__block_interface_btn_back {
    width: 172px;
    height: 58px;
    border-radius: 29px;
    border: 1px solid var(--sub_content);
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--sub_content);
    cursor: pointer;
}
button.main__block_interface_btn_forward {
    width: 172px;
    height: 58px;
    background: var(--green_back);
    border-radius: 29px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
    margin-left:60px;
    opacity:60%;
    cursor: not-allowed;
}
a.main__block_interface_btn_forward {
    padding-top:17px;
    display: block;
    width: 172px;
    height: 41px;
    background: var(--green_back);
    border-radius: 29px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
    margin-left:60px;
    text-decoration: none;
}
div.main__block_interface_menu_c_book {
    width:200px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:1px solid transparent;
}
div.main__block_interface_menu_c_book:hover {
    border-radius: 14px;
    border:1px solid var(--green_back);
}
div.main__block_interface_menu_c_book_block {
    width: 85px;
    height: 130px;
    border-radius: 9px;
    background: var(--border-color);
    margin-bottom:10px;
}
div.main__block_interface_menu_c_album:hover {
    border-radius: 14px;
    border:1px solid var(--green_back);
}
div.main__block_interface_menu_c_album {
    width:200px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:1px solid transparent;
}
div.main__block_interface_menu_c_album_block {
    width: 130px;
    height: 85px;
    border-radius: 9px;
    background: var(--border-color);
    margin-bottom:23px;
}
span.main__block_interface_menu_cmain__block_interface_menu_c_book_block_text {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}
div.main__block_interface_menu_c_s {
    margin-bottom: 16px;
}
span.main__block_interface_menu_c_s_t {
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    width: 104px;
}
input.main__block_interface_menu_c_s_i {
    width: 287px;
    height: 45px;
    border-radius: 22.5px;
    border: 1px solid var(--border-color);
    text-align: center;
    font-weight: 700;
    font-size:16px;
}